OKDESK_DOMAIN=https://avers.okdesk.ru
OKDESK_API_TOKEN=
INTRASERVICE_HOST=help.ucg.ru
INTRASERVICE_USER=
INTRASERVICE_PASSWORD=
MFC_COMPANY_ID=9
MFC_ASSIGNEE_ID=5
MFC_ENGINEER_GROUP_ID=7
MFC_CORS_ORIGINS=https://averstech2026.github.io
